.signupContainer {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

.errorMessage {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(240, 92, 92);
    font-weight: 600;
}