.title {
    font-family: sans-serif;
    text-align: center;
    color: blueviolet;
    font-size: 48px;
}

.wrapper {
    width: 50%;
    min-width: 400px;
    border-radius: 5px;
    margin: auto;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupContainer {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}
.errorMessage {
    text-align: center;
    font-family: sans-serif;
    color: rgb(240, 92, 92);
    font-weight: 600;
    font-size: 14px;
}

.successfullMessage {
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: rgb(62, 205, 62);
}

.notificationMessage {
    margin: 0 auto;
    width: fit-content
}

.timeBar {
    width: 100%;
    height: 10px;
    background-color: green;
    animation: countdown 3s ease-in;
}

@keyframes countdown {
    100% {
        transform: scaleX(0);
    }
}